body
{
  font-family: 'Roboto', sans-serif; 
  margin: 80px; 
  background-color: white; 
}

hr
{
	border: none;
	height: 2px;
    background-color: #4a4e4d; 
}

h1
{
    text-align: center;
    color: #0e9aa7; 
    font-size: 50px;
}

h2, h3
{
    text-align: center;
    font-size: 30px;
    color: #3da4ab; 
}

#queryText::after, #subjects h3::after, .subtitle::after
{
	content: '';
    background: #3da4ab; 
	display: block; 
	height: 3px; 
	width: 170px;
	margin: 20px auto 5px;
}

h4
{
    font-size: 22px;
}

.boldH4
{
    /* font-weight: bold; */
    /* background-color: #ff4f58;  */
    color: #ff3f58;
}

button, select
{
  height: 60px;  
  border-radius: 10px;
  font-size: 24px;
  background-color: #e9e9e9;
  border: none;
  margin: 2px;
}

#subjectDropdown
{
    width: 40%; 
    padding: 12px 20px 12px 20px; 
}

#submitSubject
{
    width: 20%; 
}

.verificationRow
{
    float: left;
    width: 25%;
    height: 200px;
}

.changeButton
{
    height: 60px;
    width: 140px;
} 

#verifyButton
{
    width: 200px;
}

.card
{
    padding-top: 20px;
    padding-bottom: 50px;

    padding: 25px 20px 50px 25px;

    text-align: center;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; 
}

.card:hover 
{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} 

.fadeIn
{
    display: block; 
    animation: fadeIn 0.75s;
    -webkit-animation: fadeIn 0.75s; 
    animation-fill-mode: forwards;
}

@keyframes fadeIn 
{
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadedIn
{
    opacity: 1; 
    display: block; 
}

.fadeOut
{
    animation: fadeOut 0.75s;
    -webkit-animation: fadeOut 0.75s; 
    animation-fill-mode: forwards;
}

@keyframes fadeOut 
{
    from { opacity: 1; }
    to { opacity: 0; }
}

.fadedOut
{
    opacity: 0; 
    display: none; 
}

.blockFadedOut
{
    opacity: 0;
    display: block;
}